@font-face {
  font-family: "Montserrat-VariableFont_wght.ttf";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat-VariableFont_wght.ttf";
}

body {
  padding: 20px;
}

.searchInput {
  width: 30vw;
  padding: 10px;
  margin-bottom: 3vh;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.cityName {
  color: palegoldenrod;
}

.weatherPic {
  display: flex;
  align-items: center;
}

.weatherPic img {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  gap: 20px;
  padding: 10px;
}

h1 {
  padding: 15px 0;
  font-size: 40px;
}

.searchButton {
  background-color: white;
}

.searchButton:hover {
  background-color: coral;
  color: white;
}

.sun,
.cloud,
.rain,
.windy {
  visibility: hidden;
}

.tempContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: palegoldenrod;
  font-size: 30px;
}

.currently-date {
  display: flex;
  padding: 10px 0;
}

.header-cloudiness {
  padding-bottom: 5px;
  font-weight: 700;
  color: palegoldenrod;
}

.currently-date p {
  margin: 0 15px;
}

.wrong-data {
  text-decoration: none;
  color: aliceblue;
}

.wrong-data:hover {
  color: coral;
}

table,
td {
  border: none;
}

.table-container {
  width: 70vw;
}

td {
  padding: 5px 0;
  font-weight: 500;
}
