@font-face {
  font-family: "Montserrat-VariableFont_wght.ttf";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat-VariableFont_wght.ttf";
}

body {
  padding: 20px;
}

.searchInput {
  width: 50vw;
  padding: 5px;
  margin-bottom: 3vh;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.searchButton {
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}
.weatherPic {
  display: flex;
  align-items: center;
}

.weatherPic img {
  width: 30px;
  height: 30px;
  margin-left: 50px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  gap: 20px;
  padding: 10px;
}

h1 {
  padding-bottom: 15px;
}

.header-temperature {
  padding-bottom: 15px;
}

.currently-date {
  display: flex;
  padding: 10px 0;
}

.header-cloudiness {
  padding-bottom: 5px;
}

.currently-date p {
  margin: 0 15px;
}

.wrong-data {
  text-decoration: none;
  color: aliceblue;
}

.wrong-data:hover {
  color: coral;
}

table,
td {
  border: none;
}

.table-container {
  width: 70vw;
}

td {
  padding: 5px 0;
}
